* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #ececec;
   /*  position: fixed;
    top: 0;
    width: 100%;
    z-index: 100; */
}

.logo{
    max-width: 5rem;
}

.nav-list{
    list-style: none;
    display: flex;
    gap: 1rem;
    
}

.nav-list li a{
    text-decoration: none;
    color: #1c1c1c;
    
}
.cerrar-menu,
.abrir-menu {
    display: none;
}

@media screen and (max-width: 550px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 2.75rem;
        background-color: transparent;
        cursor: pointer;
    }

   .abrir-menu{
    color: #1c1c1c;
   }

   .cerrar-menu{
    color: #ececec;
   }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1.5rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        z-index: 2;
        /*  max-height: calc(100vh - 100px);  */
        overflow-y: auto;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a{
       
        color: #ececec;
    }
    
}

/* Estilos de hero */
#hero {
   /*  position: absolute; */
    text-align: center;
    color: #fff;
   /*  margin-top: 2rem; */
  }
  
   
  #hero .hero-content {
    position: relative;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }
  
  #hero .informacion-contenedor {
    position: absolute;
    margin-top: auto;
    bottom: 0;
    /* justify-content: center;
    align-items: center; */
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    max-width: 90%;
    /* margin-top: 2rem; */
    /* position: relative; */
    padding: 10px;
    
  }
  
  #hero .informacion-contenedor .informacion {
    font-size: clamp(1rem, 3vw, 5rem);
    margin-left: 20px;
    font-weight: bold;
  }
  
  #hero .informacion-contenedor .informacion span {
    display: block;
    color: #b5b5b5;
    margin-top: 10px;
    font-size: clamp(1rem, 3vw, 5rem);
  }

/* Estilos para la imagen principal */
.imagen-container {
    text-align: center;
    position: relative;
    margin-top: 0%;
    padding-top: 0%;
    z-index: 1;
    overflow: hidden;
  }
  
  .imagen-container img {
    max-width: 100%;
    height: auto;
  }
  
  /* Estilos para el encabezado principal */
  .photo-h1 {
    padding-bottom: 0%;
    margin-bottom: 0%;
    background-color: #000000;
    width: auto;
    text-align: center;
    margin-bottom: 0rem;
    color: #ffffff; /* Cambiar el color del encabezado según necesidad */
  }
  
  .text-body-secondary {
    color: #6c757d; /* Cambiar el color del texto secundario según necesidad */
  }
  
  /* Estilos para la sección de información */
  .informacion-contenedor {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #f8f9fa; /* Cambiar el color de fondo según necesidad */
  }
  
  .informacion {
    text-align: left;
  }
  
  .informacion h1 {
    font-size: clamp(1.5rem, 3vw, 5rem);
    margin-bottom: 0.5rem;
  }
  
  .informacion span {
    font-size: 1rem;
    color: #6c757d; 
  }
  
  .informacion p {
    margin-top: 1rem;
  }
  
  /* Estilos para el pie de página */
  footer {
    background-color: #343a40; 
    color: #fff; 
    padding: 1rem;
    text-align: center;
    flex-shrink: 0;
    margin-top: auto;
  }
  
  .social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .social-icon {
    display: inline-block;
    margin: 0 10px;
    width: 30px; 
    height: 30px;
  }

  #app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* margin-top: 70px; */
  }