
    <div id="app-container">
    <header>
        <a href="https://yuutamk.github.io/Curso-Photoshop"><img class="logo" src="./src/yuuta-logo.png" alt="Logo"></a>
        <button id="abrir" class="abrir-menu"><i class="bi bi-list"></i></button>
        <nav class="nav" id="nav">
            <button class="cerrar-menu" id="cerrar"><i class="bi bi-x-circle-fill"></i></button>
            <ul class="nav-list">
                <li><a href="https://yuutamk.github.io/Curso-Photoshop">Inicio</a></li>
                <li><a href="#">Temas</a></li>
                <li><a href="#">Recursos</a></li>
                <li><a href="#">Prácticas</a></li>
                
            </ul>
        </nav>
    </header>
    <script src="./js/main.js"></script>